/* GENERAL */
body {
  font-family: 'Poppins', sans-serif;
  background: #f8f9fa;
}

/* NAVBAR */
.navbar {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
    url('https://images.unsplash.com/photo-1519741497674-611481863552') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 55px;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 80px 0;
}

/* CARDS */
.card {
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* TESTIMONIAL */
.testimonial {
  background: #111;
  color: white;
  padding: 25px;
  border-radius: 15px;
}

/* FOOTER */
.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}

/* REGISTER + LOGIN */
.auth-body {
  background: #111;
  color: white;
}

.auth-card {
  background: #222;
  width: 350px;
  border-radius: 15px;
}

.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER BAR */
.page-header {
  background: #000;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HALL IMAGE */
.hall-img {
  width: 80%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  display: block;
  margin: 30px auto;
}
